.achievement-sidebar {
    position: fixed;
    top: 0;
    right: 0; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-out;
    overflow-y: auto;
    overflow-x: auto;

    z-index: 1000;
    border-radius: 10px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.achievement-icons {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.achievement-icon {
    cursor: pointer;
    height: 100%;
    padding: 0.5vh;
    width: 5vw;
}

.svg-child {
}


.achievement-details {
    padding: 20px;
    z-index: 1100;
    position: fixed;
    display: flex;
    min-width: 200 px;
    flex-direction: column;
    background-color: #fff;
    visibility: hidden;
}

.achievement-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}

.achievement-description {
    font-size: 14px;
}

.achievement-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 999; 
}
.achievement-icon.dimmed {
  filter: grayscale(100%);
}