
.modeButton{
	width: 10%;
	height: 10%;
	position: absolute;
	top: 60%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	padding: 10px;
	background-color: yellow;
	color: black;
	border: 2px solid black;
	outline: 2px solid white;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
	font-size: 1vw;
}
.gameModeButton{
	width: 7vw;
	height: 5vh;
	min-height: 18px;
	position: relative;
	transform-origin: left;
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
	font-size: 1vw;
}

.toggleButton {
	position: absolute;
	background-color: white;
	padding: 0;
	color: white;
	border: none;
	cursor: pointer;
}
.toggleContainer {
	flex: 1;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	width: 0;
	height: 0;
}

.sideButtons {
	position: absolute;
	top: 1vw;
	left: 1vw;
    display: flex;
    flex-direction: column;
}