* {
  user-select: none;
}
.note-text-input {
    width: 100%; 
	background-color: transparent;
    overflow-y: auto;
	white-space: nowrap; 
    overflow-x: hidden;
	font-size: 1vw;
	color: #ffffcc;
	outline: none;
	border: none;
	resize: none;
	caret-color:transparent
}
.note {
	font-size: 1.5vw;
	max-width: 30vw;
    padding: 10px;
    position: fixed;
    left: 53vw;
    top: 0.05vw;
	color: #ffffcc;
	user-select:none;
	outline: none;
}
.top-label {
	display: flex;
	height: 4vh;
	position: absolute;
	top: 4vh;
	transform: translate(-50%, -50%);
	transform-origin: center;
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
	align-items: center;
	justify-content: center;
}
.timer-div {
	width: 10vw;
	left: 50vw;
}
.score-div {
	width: 5vw;
	left: 40vw;
}
.timer-text {
	font-size: max(2vh, 18px);
}
.score{
	width: 5%;
	height: 2.5%;
	position: absolute;
	top: 2.5%;
}
.infoContainer {
    display: flex;
    z-index: 1000;
	position: absolute;
    top: 15vh;
    right: 1vw;
	flex-direction: column;
	width: auto;
}
.infoText{
	color: yellow;
	font-size: 1.5vw;
	text-align: right;
}
.messageContainer {
	position: fixed;
	bottom: 0vw;
	left: 0vw;
}
.messageText{
	color: yellow;
	position: relative;
	transform-origin: top center;
	font-size: 1.5vw;
	transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}