<div id="buttonContainer" class="buttonContainer">
    <div id="sideButtons" class="sideButtons">
        <button id="restartButton" class="gameModeButton">Restart</button>
        <button id="shuffleButton" class="gameModeButton">Shuffle</button>
        <button id="exitButton" class="gameModeButton">Exit</button>
    </div>
    <div class="top-label timer-div" style="left: 50vw; cursor: default;">
        <span id="timer" class="timer-text">0</span>
    </div>
    <div class="top-label score-div" style="left: 40vw;" >
        <span id="score" class="timer-text" data-total="118" data-current="0">0/118
    </div>
    <div id="helpButton" class="help-button">    <span class="help-icon">i</span> </div>
    <div id="achievementButton" class="achievement-button">  <span class="achievement-help-icon">A</span></div>
</div>
<div id="gridContainer" class="grid-container"></div>
<div id="toggleContainer" class="toggleContainer"></div>
<div id="messageContainer" class="messageContainer" data-occupants="0"></div>
<div id="instructionContainer" class="instructionContainer"></div>
<div id="tileBox" class="tileBox">
    <div id="1 slot" data-filled="false" class="tileSlot"></div>
    <div id="2 slot" data-filled="false" class="tileSlot"></div>
    <div id="3 slot" data-filled="false" class="tileSlot"></div>
    <div id="4 slot" data-filled="false" class="tileSlot"></div>
    <div id="5 slot" data-filled="false" class="tileSlot"></div>
</div>
<div id="infoContainer" class="infoContainer"></div>
<div id="tileContainer" class="tile-container"></div>
