<div id="instructionOverlay" class="instruction-overlay"></div>
<div id="instructionWindow" class="instruction-window">
    <div class="instruction-header">
        <div id="instructionHeader" class="header-text">Classic Mode</div>
        <button id="closeButton" class="close-button">✕</button>
    </div>
    <div class="instruction-content">
        <p id="instructionText" class="instruction-text">This is the instruction text.</p>
    </div>
    <div id = "instructionFooter" class="instruction-footer">
        <label>
            <input type="checkbox" id="doNotShowCheckbox"> Don't show this again
        </label>
    </div>
</div>
