<div id="settingsOverlay" class="instruction-overlay"></div>
<div id="settingsWindow" class="instruction-window">
    <div class="instruction-header">
        <div id="settingsHeader" class="header-text">Settings</div>
        <button id="closeButton" class="close-button">✕</button>
    </div>
    <div class="instruction-content">
        <button id="resetButton" class="resetButton">Reset Achievements</button></div>
        <h3>Attributions</h3>
        <p>Lobby Time by Kevin MacLeod | <a href="https://incompetech.com/" class="link-style" target="_blank">https://incompetech.com/</a></p>
        <p>Music promoted by <a href="https://www.chosic.com/free-music/all/" class="link-style" target="_blank">https://www.chosic.com/free-music/all/</a></p>
        <p>Creative Commons: By Attribution 3.0 License</p>
        <p><a href="http://creativecommons.org/licenses/by/3.0/" class="link-style" target="_blank">http://creativecommons.org/licenses/by/3.0/</a></p>
</div>
